
<div class="rds-header">
  <h3>RDS Instances</h3>

  <div class="rds-controls">
    <button mat-icon-button
            matTooltip="Start selected"
            (click)="startSelectedInstances()"
            *ngIf="hasSelection()">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button mat-icon-button
            matTooltip="Stop selected"
            (click)="stopSelectedInstances()"
            *ngIf="hasSelection()">
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>

<mat-table [dataSource]="dbInstances" class="mat-elevation-z2" *ngIf="dbInstances?.length">

    <!-- Select All Header Checkbox -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="checkbox-column">
        <mat-checkbox
          [checked]="isAllSelected()"
          [indeterminate]="isIndeterminate()"
          (change)="toggleAll($event.checked)">
        </mat-checkbox>
      </mat-header-cell>
  
      <!-- Row Checkbox -->
      <mat-cell *matCellDef="let db" class="checkbox-column">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          [checked]="isSelected(db)"
          (change)="toggle(db)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
  
    <!-- DBInstanceIdentifier -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let db"> {{ db.DBInstanceIdentifier }} </mat-cell>
    </ng-container>
  
    <!-- DBInstanceClass -->
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let db"> {{ db.DBInstanceClass }} </mat-cell>
    </ng-container>
  
    <!-- Engine -->
    <ng-container matColumnDef="engine">
      <mat-header-cell *matHeaderCellDef> Engine </mat-header-cell>
      <mat-cell *matCellDef="let db"> {{ db.Engine }} ({{ db.EngineVersion }}) </mat-cell>
    </ng-container>
  
    <!-- AllocatedStorage -->
    <ng-container matColumnDef="storage">
      <mat-header-cell *matHeaderCellDef> Storage (GB) </mat-header-cell>
      <mat-cell *matCellDef="let db"> {{ db.AllocatedStorage }} </mat-cell>
    </ng-container>
  
    <!-- DBInstanceStatus -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let db"> {{ db.DBInstanceStatus }} 
          <mat-spinner *ngIf="db.DBInstanceStatus !== 'available' && db.DBInstanceStatus !== 'stopped'" diameter="16" class="inline-spinner"></mat-spinner>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
  </mat-table>
  
  <div *ngIf="!dbInstances?.length">
    <p>No RDS instances found.</p>
  </div>
  