<h2 mat-dialog-title>Listener Details</h2>
<mat-dialog-content>
  <p><strong>ARN:</strong> {{ data.listener.ListenerArn }}</p>
  <p><strong>Port:</strong> {{ data.listener.Port }}</p>
  <p><strong>Protocol:</strong> {{ data.listener.Protocol }}</p>
  @if (data.listener.SslPolicy) {
    <p><strong>SSL Policy:</strong>  {{ data.listener.SslPolicy }}</p>
  }
  @if (data.listener.Certificates) {
    <p><strong>Certificates</strong></p>
  }
  <ul>
  @for (cert of data.certificates; track cert) {
    <li>
      {{ cert.CertificateArn }}{{ cert.IsDefault ? ', Default' : '' }}
    </li>
  }
</ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
