<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" [ngClass]="{'collapsed': isCollapsed}">
    <!-- When sidenav is not collapsed, display menu -->
    @if (!isCollapsed) {
      <button mat-icon-button class="collapse-button" (click)="collapseSidenav()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <mat-nav-list>
        @for (item of preferences; track item) {
          @if (isAuthenticated && item.visible) {
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">{{ item.label }}</a>
          }
        }
      </mat-nav-list>
    } @else {
      <div class="collapsed-content">
        <button mat-icon-button (click)="expandSidenav()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    }

    <!-- collapsedTemplate: when sidenav is in collapsed state -->
  </mat-sidenav>

  <!-- Dynamically adjust margin base on collapsed state -->
  <mat-sidenav-content [style.marginLeft.px]="isCollapsed ? 48 : 150">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
